.contatti {
    width: 100vw;
    height: 20vh;
    padding: 15px;
    background-color: bisque;
}

#map {
    width: 50%;
    height: 100%;
    border: none;
    position: relative;
    align-self: right;
}