.contatti {
    width: 100vw;
    height: 20vh;
    padding: 15px;
    background-color: bisque;
}

#map {
    width: 100%;
    height: 100%;
    border: none;
    z-index: 9;
}

#info, #map {
    position: absolute;
}

#info {
    z-index: 8;
    width: 50%;
    height: 100%;
    margin: 15px;
    border-radius: 15px;
    background-color: beige;
}