@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

    /* entry */
.entry {
    width: 100%;
    height: auto;
    display: flex;
    margin: 20px;
    align-items: center;
    margin-top: 50px;
    right: 0px;
    margin-left: 0;
}

.entry_text, .entry_photo {
    width: 50%;
    height: 200px;
}

.entry_text {
    text-align: center;
    font-family: 'Cormorant', serif;
}

.entry_photo {
    padding-left: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 100px;
    background-image: url(./steak-reference-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}