@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

    /* entry */
.entry {
    width: 100%;
    height: auto;
    display: flex;
    margin: 20px;
    align-items: center;
    margin-top: 50px;
}

.entry_text, .entry_photo {
    width: 49%;
    height: 200px;
}

.entry_text {
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

.entry_photo {
    padding: 150px;
    background-image: url(./steak-reference-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}