@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: montserrat, sans-serif;
}

    /* entry */
.entry {
    width: 100%;
    height: auto;
    display: flex;
    margin: 20px;
    align-items: center;
}

.entry_text, .entry_photo {
    width: 50%;
    height: 100%;
}

.entry_text {
    margin-right: 50px;
}

.entry_photo {
    padding: 50px;
    background-image: url(./steak-reference-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}