@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
    font-family: 'Montserrat';
    font-weight: 100;
}

nav {
    width: 100%;
    background-color: #798897;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: relative;
    border-radius: 15px;
}

span.nav-toggle {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
}

ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

ul li {
    list-style-type: none;
    font-size: 17.5px;
    cursor: pointer;
    text-align: center;
    color: #f3eed9;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li:first-child {
    margin-top: 0;
}

ul li:hover {
    background-color: rgb(89, 100, 110)
}

ul li:active {
    background-color: #5b667000;
}

@media screen and (min-width: 800px) {
    nav {
        height: 100px;
        flex-direction: row;
    }

    ul {
        display: flex;
        justify-content: right;
        width: 80%;
        flex-direction: row;
        margin-right: 50px;
    }

    ul li {
        display: inline-block;
        text-align: center;
        border-bottom-style: none;
        padding: 0;              
        display: flex;
        align-items: center;
        justify-content: center                       
    }

    span.nav-toggle {
        display: none;
    }

    .active{
        display: flex;
      }
}

h1 {
    color: #f3eed9;
    width: 100%; 
    font-size: 40px;
}

#icon {
    width: 70;
    height: 70;
    margin: 30px 30px;
    border-radius: 13px;
    border-style: solid;
    border-color: #f3eed9;
    border-width: 2px;
}

a {
    list-style: none;
}