@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
  font-family: 'Montserrat';
  font-weight: 100;
}

nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  span.nav-toggle {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .logo {
    margin: 40px 0 40px 0;
  }
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
  }
  span.circle-1 {
    background-color: #0e89a0;
    width: 20px;
    height: 20px;
  }
  span.circle-2 {
    background-color: #e7e7da;
    width: 30px;
    height: 30px;
  }
  span.circle-3 {
    background-color: #ddc249;
    width: 40px;
    height: 40px;
  }
  ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }
  ul li {
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    padding: 5px 50px;
  }
  ul li:first-child{
    margin-top: 0;
  }
  ul li:hover {
    opacity: 0.5;
  }