body {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #798897;
    position: fixed;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-right: 40px;
}