body {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #798897;
    position: fixed;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 25px;
    padding-right: 40px;
}

a {
    text-decoration: none;
    color: #F3EED9;
}

a:hover {
    opacity: 50%;
}