.box {
    margin-top: 25px;
    border-radius: 15px;
    width: auto;
    height: 83vh;
    border-color: #798897;
    border-width: 5px;
    border-style: solid;
    position: relative;
    overflow: hidden;
}

.map {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
}

.info {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
    background-color: rgb(243, 238, 217);
}

.info {
    display: flex;
}

.part1 {
    width: 30%;
    height: auto;
    margin-top: 55px;
    margin-left: 55px;
    margin-bottom: 55px;
    padding-right: 18px;
    border-right-color: #798897;
    border-right-style: solid;
    border-right-width: 2px;
    text-align: right;
}

.part2 {
    width: 30%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-right: 10px;
    padding-left: 10px;
    border-right-color: #798897;
    border-right-style: solid;
    border-right-width: 2px;
    text-align: center;
}

.part3 {
    width: 30%;
    height: auto;
    margin-top: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
    margin-left: 25px;
    text-align: left;
    background-image: url(../icon.jpg);
    background-size: cover;
    background-position: center;
}